.about-us {
    padding: 5%;
    width: 100%;
    background-color: #f1f1f1;
}
.about-img img {
    border: 1px solid #000;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}
.about-sub-heading h5 {
    color: #a30202;
}
.about-content h2 {
    font-weight: bold;
    margin-bottom: 20px;
}
.about-content p {
    margin-bottom: 30px;
    color: #6e6e6e;
}
.about-sub i {
    width: 40px;
    height: 40px;
    background-color: #a30202;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;

    margin-right: 10px;
}
.about-sub i h6 {
    font-size: 2rem;
}
.btn1 {
    padding: 12px 40px;
    border: 1px solid #a30202;
    color: #000;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.btn1:hover {
    color: #fff;
    text-decoration: none;
}
a.btn1:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #a30202;
    transition: 0.5s;
    z-index: -1;
}
a.btn1:hover:before {
    width: 100%;
    height: 100%;
    color: #fff;
}



.bg-primary {
    background: #1089ff !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.w-100 {
    width: 100% !important;
}
.bg-primary {
    background-color: #a30202 !important;
}

.info-wrap h3 {
    color: #fff;
}


.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    color: #000;
}
h3, .h3 {
    font-size: 1.75rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.info-wrap .dbox p {
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.info-wrap .dbox {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
}
.btn.btn-primary {
    background: #a30202 !important;
    border-color: #a30202 !important;
    color: #fff;
}
.btn {
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.info-wrap .dbox p span {
    font-weight: 600;
    color: #fff;
}
.info-wrap .dbox p a {
    color: #fff;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control{
    
}
