.LogosGeneric{
    width: 50vw;
    height: auto;
    float: right;
    max-width: 600px;
}
.ordenamiento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(75, 75, 76, 0.06);
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

label{
    font-family: 'Quattrocento', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}
.labelTitulo{
    font-family: 'Quattrocento', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}
input{
    background: #D9D9D9;
    border-radius: 10px;
    width: 25vw;
    height: 57px;
    left: 148px;
    bottom: 0%;
}
.botonFlogin{
    width: 25vw;
    height: 45px;
    color: #ffffff;
    background: #C51515;
    border-radius: 15px;
}
.contenedorFormulario{
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 50vw;
    margin: 1rem;
}

.contenedorFormulario form{
    width: 80%;
}

.contenedorFormulario label{
    margin-top: 1rem;
}