.Footer{
    display: flex;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    background-color: #5e5e5e;
    font-family: 'Quattrocento', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.iconoFooter{
    font-family: 'Quattrocento';
    font-style:normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    
}

.redesFooter{
    padding-top: 2%;
    text-align: center;
}
