#H1H{
    color: red;
    background-color: black;
}
.NavBarInicioSesion{
    display: flex;
    width: 100%;
    height: 17px;
    left: 517px;
    top: 49px;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #4B4B4C;
}
.NavBarTipoReserva{
   display: flex;
    width: 100%;
    height: 17px;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #4B4B4C;
}
.NavBarCorrexto{
    display: flex;
    width: 100%;
    height: 17px;
    left: 963px;
    top: 49px;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #4B4B4C;
}
.NavBarAcercaNosotros{
    display: flex;
    width: 100%;
    height: 17px;
    left: 1195px;
    top: 49px;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #4B4B4C;
}
.links{
    margin-top: 100px;
}