

*{
    margin: 0;
    box-sizing: border-box;
    }
    html{
        background-color: rgb(255, 255, 255);
        scroll-behavior: smooth;
        /* font-family: none; */
        /* font-size: 62.5%; */
    }