main{
    display: flex;
    justify-content: flex-end;
    height: 90vh;
    background: rgba(116, 57, 58, 0.8);
    overflow: auto;
    
}
.tituloRecuerdosParaSiempre{
    width: 40%;
    margin: 4%;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 450;
    font-size: 2em;
    text-align: start;  
    color: #FFFFFF;
}
.titulio{
    text-align: center;
}
.imagenRCPS{
    float: left;
    max-width: 800px; 
}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.textoTips{
    
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 71px;
    text-align: center;
    color: #4B4B4C;
}
.acercaDeNosotros{
    display: flex;
    
}
.textoACDN{
    position: absolute;
    width: 1144px;
    height: 802px;
    left: 148px;
    top: 3427px;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}
