main{
    display: flex;
    justify-content: flex-end;
    height: 90vh;
    background: rgba(116, 57, 58, 0.8);
    
}
.tituloRecuerdosParaSiempre{
    width: 40%;
    margin: 4%;
    
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 450;
    font-size: 2em;
    text-align: start;  
    color: #FFFFFF;
}
.titulio{
    text-align: center;

}
