.FT{
background-color: #4AADC2;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100vh;
}
#FT{
    background: linear-gradient(rgb(0, 149, 255), pink);
}
.CD{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px); 
    box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.726); 
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media(max-width:800px){
    .CD{
        width: 40%;
        box-shadow: 0 0 1rem 0 rgba(3, 48, 246, 0.93); 
    }
}
.CD input{
    width: 100%;
    height: 20px;
}

.LittleBoxy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
link{
    text-decoration: none;
}
.LogosGeneric{
    width: 150px;
}