
.tituloTypesRFormExtra{
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  color: #4B4B4C;
}
.contenedor1TypesRFormExtra{ 
  padding-top: 5%;
}
.estiloArmaTuPaquete{
  width: 18rem;
}

.textoTypesRFormExtra1{
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #910000;
}
.textoTypesRFormExtra2{
  font-family: 'Quattrocento';
  font-style: normal;
  padding-left: 14%;
  padding-top: 7%;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}
.textoTypesRFormExtra3{
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  padding-top: 5%;
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}
.labelTypesRFormExtra{
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  padding-top: 5%;
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}
.inputTypesRFormExtra{
  width: 90%;
  margin: 5%

}
.contenedor2TypesRFormExtra{
  width: 50%;
}

.renta-individual-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    
  }
  @media (max-width: 767px) {
    .renta-individual-wrapper {
      width: 100%;
    }
  }
  
  .renta-individual-checkbox input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #bc2323;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
  }
  
  .renta-individual-checkbox input[type="checkbox"]::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .renta-individual-checkbox input[type="checkbox"]:checked::after {
    content: "\2713";
    width: 100%;
    height: 1%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    text-align: center;
    color: #000000;
    background-color: #0f5bac;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .renta-individual-checkbox label {
    margin-left: 8px;
  }
  
/* 
  */
  .loader {
  --cell-size: 52px;
  --cell-spacing: 1px;
  --cells: 3;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}

.cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
  animation-delay: 100ms;
}

.cell.d-2 {
  animation-delay: 200ms;
}

.cell.d-3 {
  animation-delay: 300ms;
}

.cell.d-4 {
  animation-delay: 400ms;
}

.cell:nth-child(1) {
  --cell-color: #00FF87;
}

.cell:nth-child(2) {
  --cell-color: #0CFD95;
}

.cell:nth-child(3) {
  --cell-color: #17FBA2;
}

.cell:nth-child(4) {
  --cell-color: #23F9B2;
}

.cell:nth-child(5) {
  --cell-color: #30F7C3;
}

.cell:nth-child(6) {
  --cell-color: #3DF5D4;
}

.cell:nth-child(7) {
  --cell-color: #45F4DE;
}

.cell:nth-child(8) {
  --cell-color: #53F1F0;
}

.cell:nth-child(9) {
  --cell-color: #60EFFF;
}

/*Animation*/
@keyframes ripple {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: var(--cell-color);
  }

  60% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}
.tamanoCartitaMyCount{
  width: 100%;
 
}
